body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
h1 {
  text-align: center;
  padding: 2em;
}

.container-5,
.container-4,
.container-1,
.container-2 {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-5,
.flex-box-container-4 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
